<div class="valign">
    <button class="btn waves-effect waves-light shop" type="submit" name="action" value=1000>$10
        <i class="material-icons right">add_shopping_cart</i>
    </button>

    <button class="btn waves-effect waves-light shop" type="submit" name="action" value=2500>$25
        <i class="material-icons right">add_shopping_cart</i>
    </button>

    <button class="btn waves-effect waves-light shop" type="submit" name="action" value=5000>$50
        <i class="material-icons right">add_shopping_cart</i>
    </button>

    <button class="btn waves-effect waves-light shop" type="submit" name="action" value=10000>$100
        <i class="material-icons right">add_shopping_cart</i>
    </button>
</div>
