Hello World

<nav>
<button type="button" class="shop" value=5>$5</button>
<button type="button" class="shop" value=10>$10</button>
<button type="button" class="shop" value=20>$20</button>
<button type="button" class="shop" value=50>$50</button>
<button type="button" class="shop" value=100>$100</button>
</nav>
