

{{#if message.length}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<form method="post" action="/login">
  <div class='input-field col s6'>
    <input placeholder='Email' name='email' id='email' type='text'>
  </div>

  <div class='input-field col s6'>
    <input placeholder='Password' type="password" name="password" id="password">
  </div>

  <button class='btn waves-effect waves-light shop red darken-1 btn-large' type='submit'>Login</button>
</form>
<!-- <a href="/auth/twitter"><img id="twitter-login" src="http://i.imgur.com/3kYcO3Y.png"></a> -->
