.container{
  width: 90%;
}
.item{
  margin-right: 5px;
}
img{
  height: 150px;
}
.valign-wrapper{
  height: 20vh;
}

.thumbnail{
  margin: 2px;
  padding: 1px;
  border: solid 1px gray;
  width: 3vmax;
  height: 3vmax;
}
