@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas:700);

.container {
  width: 90%;
}
.item {
  margin-right: 5px;
}
.valign-wrapper {
  height: 20vh;
}


.thumbnail{
  margin: 2px;
  padding: 1px;
  border: solid 1px gray;
  width: 3vmax;
  height: 3vmax;
}

.brand-logo {
  font-family: 'Mountains of Christmas', cursive;
}
.section {
  padding: 20px;
}
.card {
  padding: 5px;
}

main {
  margin-bottom: 10vh;
}

p {
  font-size: 0.75em;
}


footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
