@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas:700);
*{ box-sizing:border-box; }

.container {
  width: 90%;
}
.item {
  margin-right: 5px;
}
.thumbnail{
  margin: 2px;
  padding: 1px;
  border: solid 1px gray;
  width: 3vmax;
  height: 3vmax;
}
.brand-logo {
  font-family: 'Mountains of Christmas', cursive;
}
.section {
  padding: 20px;
}
.item {
  padding: 5px;
}
.card-image{
  height: 60%;
}

.alert-danger {
  color: red;
}

main {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.card .card-title {
  font-size: 1em;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
}
